div.top-bar{
	background-color: #21540f;
	padding-top: 5px;
	padding-bottom: 5px;
}

.top-bar .menu a{
	color: white;
	font-size: 25px;
}

body {background-color: #f9f9f9;}

.details{
	color: gray;
}
.content .sub-menu{
	background-color: #54a551;
	float: left;
}

.content .sub-menu i{
	font-size: 25px;
}

.content .sub-menu p{
	padding: 5px;
	text-align: center;
}

.content .sub-menu a{
	text-decoration: none;
	color: white;
}

.content input{
	float: left;
}

.star{
	color: red;
}

.row1 .col-lg-7 .dropdown{
	display: inline-block;
	float: left;
}

.row1 .col-lg-7 .in{
	padding-right: 0;
	padding-left: 0px;
	display: inline-block;
	float: left;
}

.row1 .col-lg-7 .search{
	display: inline-block;
	float: left;
}

