div.top-bar{
	background-color: #21540f;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;	
	height: 60px;
}

.top-bar .menu a{
	color: white;
	font-size: 25px;
}

body {
	background-color: #f9f9f9;
}

.details{
	color: gray;
}
.content .sub-menu{
	background-color: #3B9943;
	float: left;
	height: 660px;
	padding-top: 10px;
	margin-top: -5px;
}

.col-lg-2 {
	margin-left: 5px;
	color: 	#4682b4;
}


h4{
	margin-left: 5px;
	color: 	#4682b4;
}

.content .sub-menu i{
	font-size: 25px;
}

.content .sub-menu p{
	padding: 5px;
	text-align: center;
}

.content .sub-menu a{
	text-decoration: none;
	color: white;
	font-size: 10px;
	align-items: center;
}

.content input{
	float: left;
}

.star{
	color: red;
}

.row1 .col-lg-3 .dropdown{
	display: inline-block;
	float: right; 
}

.row1 .col-lg-6 .form-control{
	padding-right: 0;
	padding-left: 0px;
	display: inline-block;
	float: left;
	width: 85%;
}

#select{
	border: 1px solid #d3d1d1;
	color: gray;
}

.bottom-bar{
	height: auto;
	background-color: #21540f;
	color: white;
	text-align: center;
	border-top: 2px solid yellow;
	padding-top: 8px;
	font-size: 12px;
}

.col-lg-11{
	padding: 6px;
	margin-left: 10px;
}

.panel{
	height: 30px;
}

.panel-body{
	display: inline-block;
	margin-top: -10px;
}

.drop{
	margin-left: 15px;
	width: 280px;
	border-color: #d3d1d1;
}

.nationalaty{
	margin-left: 10px;
}

.submit-button{
	border-top: 1px solid #d3d1d1;
	padding-top: 10px;
	margin-top: 15px;
}

.sub-menu{
	width: 80px;
}

